page-home {

}
.main-container{
    width: 100%;
}
.left-container{
    float: left;
    width:40%;
}
.right-container{
    float: right;    
    width:60%;
}
.barGenre{
    width:35%;
    float:left;
}
.barAgeGroup{
    width:65%;
    float:right;
}
.axis--x--ageGroup { font: 30px sans-serif; }
.axis--y--ageGroup { font: 20px sans-serif; }

.axis--x--musicGenre { font: 10px sans-serif; }
.axis--y--musicGenre { font: 20px sans-serif; }

.axis--y--profession { font: 15px sans-serif; }
.axis--x--profession { font: 20px sans-serif; }
